extends ../../../templates/navbarhw.pug
block content
    section#services
        .right_col.wow.fadeInDown(role='main' style="background-color:transparent;")
            .page-title
                .row
                    .col-md-12.col-sm-12.col-xs-12
                            .x_panel
                                .x_title
                                    h1
                                        b Request For Leave
                                    .clearfix
                            br
                            .x_panel(style='background-color:rgba(52,152,219,.3)')
                                .x_content
                                    form#leave(method="POST"  action="/request_leave")
                                        br
                                        //- .col-md-7(style='background-color:#394D5F')
                                        .col-md-7(style='background-color:rgba(52,152,219,.3)')
                                    
                                            .row
                                                .col-md-1
                                                    .form-group
                                                .col-md-6
                                                    .form-group
                                                        br
                                                        br
                                                        label(style='color:#394D5F') Type Of Leave *
                                                        select#sort.form-control(name='type')
                                                            each leave in leavetab
                                                                option.sort.form-control(value=''+leave.intID, readonly days=leave.intDays fileDate= leave.intDaysForFile ) #{leave.strName}
                                                .row
                                                    .col-md-2
                                                            .form-group
                                                                br
                                                                br
                                                                label(style='color:#394D5F')  Max Day/s:
                                                                input.form-control#total(type='number' readonly)
                                                                input.form-control#days(type='number' readonly, name='file' style='display:none')
                                                    .col-md-2
                                                            .form-group
                                                                br
                                                                label(style='color:#394D5F') Desired Day/s:
                                                                input.form-control#custom(type='number' name='totaldays' min=1)
                                            .row
                                                .col-md-1
                                                    .form-group
                                                .col-md-5
                                                    .form-group
                                                        
                                                        label(style='color:#394D5F') Starting From: *
                                                        input(type='date' id='thedate'  onkeyup='time();' name="created"  hidden)
                                                        input.form-control#start(type='date' name="started")
                                                .col-md-5
                                                    .form-group
                                                        
                                                        label(style='color:#394D5F') To: *
                                                        input.form-control#end( type='date' name="end" readonly)
                                            .row
                                                .col-md-1
                                                    .form-group
                                                .col-md-10
                                                    .form-group
                                                        label(style='color:#394D5F') Address While On Leave *
                                                        input.form-control(type='text' name="addLeave" required)
                                                        br
                                        .col-md-5
                                            
                                            .form-group
                                                label(style='color:#394D5F') Reason of Leave *
                                                textarea#exampleTextarea.form-control(rows='11' placeholder='' name="reason" required)
                                                
                                        .form-group
                                            .pull-right
                                                
                                                button.btn.btn-lg.btn-success(type='submit' onclick="time();" ) Submit
                            br
                            br

                                            
        //-     h2 Leave
        //-     ul.nav.navbar-right.panel_toolbox
        //-         li
        //-             a.collapse-link
        //-                 i.fa.fa-chevron-up
        //-         li.dropdown
        //-             a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
        //-                 i.fa.fa-wrench
        //-             ul.dropdown-menu(role='menu')
        //-                 li
        //-                     a(href='#') Settings 1
        //-                 li
        //-                     a(href='#') Settings 2
        //-         li
        //-             a.close-link
        //-                 i.fa.fa-close
        //-     .clearfix
        //- .x_content
        //-     | Add content to the page ...
        //- script(src="/custom/bootstrap-datetimepicker.min.js")
        //- script(src="/custom/moment.min.js")
        script(src='/admin/gentelella/vendors/jquery/dist/jquery.min.js')
        script(src="/custom/moment.min.js")
        script.
            $(document).ready(function(){
                $('select#sort').change(function(){
                    var now = moment().format("YYYY-MM-DD");
                    var totalDate = $(this).find('option:selected').attr('days');
                    var fileDate = $(this).find('option:selected').attr('fileDate');
                    var intfDate = parseInt(fileDate)
                    var intmaxDate = parseInt(totalDate)
                    var maxx = intfDate + intmaxDate;
                    console.log(totalDate);
                    console.log(fileDate);
                    console.log(now);

                    $('#total').val($(this).find('option:selected').attr('days'))

                    $('#days').val($(this).find('option:selected').attr('fileDate'))

                    var minDate1 = moment(now).add(intfDate, 'days').format("YYYY-MM-DD");
                    var maxDate1 = moment(now).add(maxx, 'days').format("YYYY-MM-DD");
                    console.log(minDate1);
                    
                    $("#start").attr("min", minDate1);
                    $("input#start").val(minDate1)
                    $("#start").val(minDate1);
                    console.log(maxDate1);
                    $('input#custom').val('0');

                    //- $("#end").attr("max", maxDate1);
                    $("#end").val(maxDate1);
                })
                $("#start").change(function(){
                    var now = moment().format("YYYY-MM-DD");
                    var totalDate = $('#total').val()
                    var fileDate = $('#days').val();
                    var intfDate = parseInt(fileDate)
                    var intmaxDate = parseInt(totalDate);
                    var customD = parseInt(totalDate);
                    var customdy = intfDate + customD;
                    var eto = intfDate + intmaxDate;
                    console.log(eto)
                    console.log(customdy);


                    var simula = $('#start').val();
                    $('input#custom').val('0');
                    var minDate1 = moment(now).add(intfDate, 'days').format("YYYY-MM-DD");
                    var ending = moment(simula).add(customD, 'days').format("YYYY-MM-DD");
                    console.log(simula);
                    console.log(ending);

                    $("#end").attr("min", minDate1);
                    $("#end").val(ending);
                    //- $("#end").attr("max", ending);
                })
                $("#custom").change(function(){
                    var now = moment().format("YYYY-MM-DD");
                    var totalDate = $('#total').val()
                    var fileDate = $('#days').val();
                    var intfDate = parseInt(fileDate)
                    var intmaxDate = parseInt(totalDate)
                    var maxx = intfDate + intmaxDate;

                    var startD = $('#start').val();
                    var custom = $('#custom').val();
                    var intCustom = parseInt(custom);


                    var minDate1 = moment(now).add(intfDate, 'days').format("YYYY-MM-DD");
                    var maxDate1 = moment(now).add(maxx, 'days').format("YYYY-MM-DD");
                    var customdate =  moment(startD).add(intCustom, 'days').format("YYYY-MM-DD");
                    console.log(customdate);


                    $("#start").attr("min", minDate1);
                    $("#end").val(customdate);
                })
            });
        script.
            $('form#leave').submit(function(e){
                e.preventDefault();
                var totalDate = $('#total').val();
                var custom = $('#custom').val();
                var intmaxDate = parseInt(totalDate);
                var intCustom = parseInt(custom);
                if(intCustom > intmaxDate){
                    swal({
                        type: 'info',
                        title: 'Invalid!',
                        text: 'Desired days exceeds to maximum days',
                    })
                }
                else{
                    $.ajax({
                        url: $(this).attr('action'),
                        method: 'post',
                        data: $('form#leave').serialize(),
                        success: function(response){
                            console.log(response);
                            if(response == 'success'){
                                swal({
                                    type: 'success',
                                    title: 'Submitted!',
                                    text: 'Leave Request Submitted',
                                    showConfirmButton: false,
                                    },setTimeout(function() {
                                        location.reload();
                                    }, 1500)
                                );
                            }
                            else if(response == 'wala client'){
                                swal({
                                    type: 'warning',
                                    title: 'Failed!',
                                    text: 'You dont have any client',
                                    showConfirmButton: false,
                                    timer: 1000
                                    }
                                );
                            }
                        }
                    })
                }
            });
        script.
            function time(){
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1; //January is 0!
                var yyyy = today.getFullYear();
                var hh = today.getHours();
                var min = today.getMinutes();
                var sec = today.getSeconds();
                var x= document.getElementById("thedate");
                
                if(dd<10) {
                    dd = '0'+dd
                } 

                if(mm<10) {
                    mm = '0'+mm
                } 

                today = yyyy + '-' + mm + '-' + dd;
                //- document.write(today);
               document.getElementById("thedate").value=today;
            }
                //================================
                //minimum for date Leave
                //===============================
                    //- var minDate1 = new Date();
                    //- var minDay1 = minDate1.getDate()+intfDate;
                    //- var minMon1 = minDate1.getMonth()+1; //January is 0!
                    //- var minYear1 = minDate1.getFullYear();
                    //- //- var minDate = document.getElementById("deploy1");
                    //- //- var minDate2 = document.getElementById("deploy2");
                    
                    //- if(minDay1<10) {
                    //-     minDay1 = '0'+minDay1
                    //- } 

                    //- if(minMon1<10) {
                    //-     minMon1 = '0'+minMon1
                    //- } 

                    //- minDate1 = minYear1 + '-' + minMon1 + '-' + minDay1 ;
                //================================
                //max for date leave
                //===============================
                    //- var maxDate1 = new Date();
                    //- var maxx = moment(now).add(intmaxDate, 'days').format("YYYY-DD-MM");
                    //- var maxDay1 = maxDate1.getDate()+intfDate+intmaxDate;
                    //- var maxMon1 = maxDate1.getMonth()+1; //January is 0!
                    //- var maxYear1 = maxDate1.getFullYear();
                    //- var maxDate = document.getElementById("deploy1");
                    //- console.log(maxx)
                    //- //- var maxDate2 = document.getElementById("deploy2");
                    //- if(maxDay1<10) {
                    //-     maxDay1 = '0'+maxDay1
                    //- } 

                    //- if(maxMon1<10) {
                    //-     maxMon1 = '0'+maxMon1
                    //- } 

                    //- maxDate1 = maxYear1 + '-' + maxMon1 + '-' + maxDay1 ;