extends ../../../templates/navbarhw.pug
block content
    section#services
        .right_col.wow.fadeInDown(role='main' style="background-color:transparent;")
            .page-title
                .row
                    .col-md-12.col-sm-12.col-xs-12
                        .x_panel
                            .x_title
                                h1
                                    b Request For Leave
                                .clearfix
                            br
                            .x_panel(style='background-color:#3E5367')
                                .x_content
                                    form(method="POST"  action="/request_leave")
                                        br
                                        .col-md-7(style='background-color:#f1f1f1')
                                            .col-md-6
                                                .form-group
                                                    br
                                                    label Type Of Leave *
                                                    select#sort.form-control(name='type')
                                                        each leave in leavetab
                                                            option(value=''+leave.intID readonly) #{leave.strName}
                                            .col-md-11
                                                .form-group
                                                    label Address While On Leave *
                                                    input.form-control(type='text' name="addLeave" required)
                                            .col-md-4
                                                .form-group
                                                    br
                                                    label Starting From: *
                                                    input(type='date' id='thedate'  onkeyup='time();' name="created"  hidden)
                                                    input.form-control(type='date' name="started")
                                            .col-md-4
                                                .form-group
                                                    br
                                                    label To: *
                                                    input.form-control( type='date' name="end")
                                            .col-md-3
                                                .form-group
                                                    label Total Number Of Days:
                                                    input.form-control(type='number' readonly)
                                                    br
                                        .col-md-5
                                            
                                            .form-group
                                                label(style='color:white') Reason of Leave *
                                                textarea#exampleTextarea.form-control(rows='11' placeholder='Reason' name="reason" required)
                                                br
                            .form-group
                                .pull-right
                                    
                                    button.btn.btn-lg.btn-primary(type='submit' onclick="time();" ) Submit
                            br
                            br

                                            
                        //-     h2 Leave
                        //-     ul.nav.navbar-right.panel_toolbox
                        //-         li
                        //-             a.collapse-link
                        //-                 i.fa.fa-chevron-up
                        //-         li.dropdown
                        //-             a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                        //-                 i.fa.fa-wrench
                        //-             ul.dropdown-menu(role='menu')
                        //-                 li
                        //-                     a(href='#') Settings 1
                        //-                 li
                        //-                     a(href='#') Settings 2
                        //-         li
                        //-             a.close-link
                        //-                 i.fa.fa-close
                        //-     .clearfix
                        //- .x_content
                        //-     | Add content to the page ...
        script.
            function time(){
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1; //January is 0!
                var yyyy = today.getFullYear();
                var hh = today.getHours();
                var min = today.getMinutes();
                var sec = today.getSeconds();
                var x= document.getElementById("thedate");
                
                if(dd<10) {
                    dd = '0'+dd
                } 

                if(mm<10) {
                    mm = '0'+mm
                } 

                today = yyyy + '-' + mm + '-' + dd;
                //- document.write(today);
               document.getElementById("thedate").value=today;
            }
