extends ../../../templates/navbarclient.pug

block content
    .right_col(role='main')
        .page-title
            .row
                .col-md-12.col-sm-12.col-xs-12
                    .x_panel
                        .x_panel
                            .x_title
                                h1  Replace Household Worker 
                                .clearfix
                            br
                            table#datatable-responsive.table.table-striped.table-bordered
                                thead
                                    tr
                                        th NAME
                                        th SERVICE
                                        th REPLACEMENT LEFT
                                        th ACTION
                                tbody
                                    each currenthw in currenthwtab
                                        tr
                                            //- td #{currenthw.}
                                            td #{currenthw.strFName} #{currenthw.strLName}
                                            td #{currenthw.strName}
                                            td
                                            td
                                                button.btn.btn-primary.btn-md(type='button') View
                                                button.btn.btn-danger.btn-md(type='button') Replace
                            