extends ../../../templates/navbaradmin.pug

block content
    section#services
        .right_col(role='main')
            div
                .page-title
                    .title_left
                        h5
                            a(href='clientList')
                                b
                    .row
                        .col-md-12.col-sm-12.col-xs-12
                            .x_panel
                                .x_title
                                    h1
                                        b Client
                                    br
                                    .row
                                        .col-md-12.col-sm-12.col-xs-12
                                            form(method='POST' action='queries_client').form-inline
                                                .form-group
                                                    //- .input-prepend.input-group
                                                    //-     span.add-on.input-group-addon
                                                    //-         i.glyphicon.glyphicon-calendar.fa.fa-calendar
                                                    //-     input#reservation.form-control(type='text', style='width: 200px', name='reservation', value='01/01/2016 - 01/25/2016')
                                                    label Date From:
                                                        |&nbsp
                                                        |&nbsp
                                                        input.form-control(type='date', required='required', name='datefrom')
                                                    |&nbsp
                                                    |&nbsp
                                                    |&nbsp
                                                    label To:
                                                        |&nbsp
                                                        |&nbsp
                                                        input.form-control(type='date', required='required', name='dateto')

                                                br
                                                br
                                                .form-group
                                                    label
                                                        input.flat(type='radio', checked='', value='Registered' name='thestatus')
                                                        |&nbsp
                                                        
                                                        b Registered
                                                    |&nbsp
                                                    |&nbsp
                                                    |&nbsp
                                                    label
                                                        input.flat(type='radio', value='Ban' name='thestatus')
                                                        |&nbsp
                                                        b Banned
                                                |&nbsp
                                                |&nbsp
                                                |&nbsp
                                                .form-group
                                                    button.btn.btn-info(type='submit')
                                                        i.fa.fa-eye
                                                        |  Query
                                    br
                                    br
                                    //- each thequery in thequerytab
                                    //-     h1 Displaying results From #{thequery.thequery[0]} to June 9,2020
                                    br
                                    br
                                    .col-md-12.col-sm-12.col-xs-12
                                        .table-responsive
                                            table#datatable.table.table-striped.jambo_table.bulk_action
                                                thead
                                                    tr.headings
                                                    tr
                                                        th ID NO.
                                                        th NAME
                                                        th STATUS
                                                        th ACTION
                                                    tr
                                                        th.bulk-actions(colspan='7')
                                                            a.antoo(style='color:#fff; font-weight:500;')
                                                                | Bulk Actions ( 
                                                                span.action-cnt  
                                                                |  ) 
                                                                i.fa.fa-chevron-down
                                                tbody
                                                    each theresults in theresultstab
                                                        if theresults == undefined
                                                        else
                                                            tr.even.pointer
                                                                td 1
                                                                td #{theresults.strFName}
                                                                td Registered
                                                                td
                                                                    a(href='clientProfile')
                                                                        button.btn.btn-info(type='button')
                                                                            i.fa.fa-eye
                                                                            |  view
                                    .clearfix
