extends ../../../templates/navbaradmin.pug

block content
    section#services
        .right_col(role='main' style="background-color:transparent")
            .title_left
                h5
                    | Transaction / Registration / Client / 
                    b Add
            .row
                .col-md-12.col-sm-12.col-xs-12
                    .x_panel(style='background-color:rgba(52,152,219,.3)')
                        br
                        .x_panel
                            .x_title
                                //- .pull-right
                                //-     a(href='client_list')
                                //-         button.btn.btn-primary.btn-lg(type='button') Back
                                h3 Personal Details
                                .clearfix
                            .x_content
                                form#regi(method="POST" action="register_client")
                                    .x_title
                                        center
                                            h1 Client Registration
                                    .x_content
                                        br
                                        .col-lg-12
                                            .row
                                                .col-md-4
                                                    .form-group
                                                        label First Name*
                                                        input.form-control(type='text', id='firstname' name='firstname', maxlength='45' required )
                                                .col-md-4
                                                    .form-group
                                                        label Middle Name 
                                                        input.form-control(data-validate-length-range='6', data-validate-words='2', id='middlename' name='middlename', placeholder='(Optional)', type='text' maxlength='45')
                                                .col-md-4
                                                    .form-group
                                                        label Last Name*
                                                        input.form-control(data-validate-length-range='6', data-validate-words='2', id='lastname' name='lastname',  required, type='text' maxlength='45')
                                            br
                                            .row
                                                .col-md-6
                                                    .form-group
                                                        label Email Address*
                                                        input.form-control(type='email', id='email' name='email', required maxlength='45')
                                                .col-md-6
                                                    .form-group
                                                        label Mobile Number / Telephone Number*
                                                        input.form-control(type='txt', id='contactnum' name='contactnum', required maxlength='45')
                                            .row
                                                .col-md-6    
                                                    .form-group
                                                        label Password*
                                                        input.form-control(type='password', id='password' name='password', required='required' placeholder='(Minimun of 5 characters)' minlength='5' maxlength='45')
                                                .col-md-6
                                                    .form-group
                                                        label Confirm Password*
                                                        input.form-control(type='password', id='conpassword' name='conpassword', required='required' minlength='5' maxlength='45')
                                            .row
                                                .col-md-3
                                                    .form-group
                                                        label Current Address* 
                                                        input.form-control(id="_1", type='text',   name='housenum', placeholder='House/Bldg. no.', required='required' maxlength='45')
                                                .col-md-3
                                                    .form-group
                                                        label &nbsp
                                                        input.form-control(id="_2", type='text', name='streetnum', placeholder='Street', required='required' maxlength='45')
                                                .col-md-3
                                                    .form-group
                                                        label &nbsp
                                                        input.form-control(id="_3", type='text',  name='province', placeholder='Municipality', required='required' maxlength='45')
                                                .col-md-3
                                                    .form-group
                                                        label &nbsp
                                                        input.form-control(id="_4", type='text',  name='city', placeholder='City', required='required' maxlength='45')
                                            //- .row
                                            //-     .col-md-9
                                            //-         .form-group
                                            //-             label Permanent Address*
                                            //-                 input.form-control.col-md-7.col-xs-12(id="txtf", type='text', name='permanentadd', placeholder='', required='required' maxlength='70')
                                            //-                 .checkbox
                                            //-                     label
                                            //-                         input(id='chb', type='checkbox', value='', onClick="copy();")
                                            //-                         |  Same with my Current Address.
                                                br
                                            .row
                                                .col-md-7
                                                    .form-group
                                                        label Office Address
                                                        input.form-control(type='text', id='ofcaddress' name='ofcaddress', placeholder=''  maxlength='70')
                                                .col-md-5
                                                    .form-group
                                                        label Office Telephone Number 
                                                        input.form-control(type='text', id='ofcnum' name='ofcnum'  maxlength='45')
                                            .row
                                                .col-md-12
                                                    .form-group
                                                        input#accept(name='accept', type='checkbox', value='y')
                                                        |  I have read and agree to the 
                                                        a(href="/registration/Terms_and_Conditions") 
                                                            b(style="color:blue;") terms and conditons
                                            .row
                                                .form-group(style="float:right")
                                                    button.btn.btn-primary(type='reset') Reset
                                                    button.btn.btn-success#submitbtn(type='submit' disabled='disabled') Register
    script.
        $('#accept').click(function() {
            if ($('#submitbtn').is(':disabled')) {
                $('#submitbtn').removeAttr('disabled');
            } else {
                $('#submitbtn').attr('disabled', 'disabled');
            }
        }); 
    script(src='/admin/gentelella/vendors/jquery/dist/jquery.min.js')
    
    //- script.
    //-     $('form#regi').submit(function(){
    //-         console.log("nakapunta dito");
    //-         setTimeout(function() {
    //-             window.location.href = "/login";
    //-             }, 5000);
    //-         swal({
    //-             type: 'success',
    //-             title: 'Submitted',
    //-             text: 'You may now present the needed documents in the admin office',
    //-         });
    //-     })
    script.
        $('form#regi').submit(function(e){
            e.preventDefault();
            $.ajax({
                url: $('form#regi').attr('action'),
                method: 'post',
                data: $('form#regi').serialize(),
                success: function(response){
                    console.log(response);
                    if(response == 'success'){
                        swal({
                            type: 'success',
                            title: 'Submitted!',
                            text: "Registration successfully sent. Please wait for admin's approval.",
                            showConfirmButton: true,
                        },function(isConfirm){
                            if(isConfirm){
                                location.reload();
                                }
                        });
                    }
                    else if(response == 'notmatch'){
                        swal({
                            type: 'warning',
                            title: 'Password Not Matched',
                            text: 'Password didnt match',
                            showConfirmButton: false,
                            timer: 2000
                            }
                        );
                    }
                }
            })
        });
    script(type='text/javascript').
        function copy() {
            var txt1 = document.getElementById("_1");
            var txt2 = document.getElementById("_2");
            var txt3 = document.getElementById("_3");
            var txt4 = document.getElementById("_4");
            var txtf = document.getElementById("txtf");
            
            if((txt1.value && txt2.value && txt3.value && txt4.value) == ''){
                txtf.value= '';
            }
            else{
              txtf.value = txt1.value + ', ' + txt2.value + ', ' + txt3.value + ', ' + txt4.value;                     
            }
   
        }
        function dis(){
            var txt1 = document.getElementById("_1");
            var txt2 = document.getElementById("_2");
            var txt3 = document.getElementById("_3");
            var txt4 = document.getElementById("_4");
            var txtf = document.getElementById("txtf");       

            if((txt1.value && txt2.value && txt3.value && txt4.value) == ''){
                document.getElementById("chb").disabled = true;
            }
            else if ((txt1.value)=='1'){
                document.getElementById("chb").disabled = false;
            }
        }
        