
extends ../../../templates/navbaradmin.pug

block content
    section#services
        .right_col(role='main' style="background-color:transparent")
                .title_left
                    h5
                        | Utilities /&nbsp
                        b Replacement
                .row
                    .col-md-12.col-sm-12.col-xs-12
                        .x_panel(style='background-color:rgba(52,152,219,.3)')
                            br
                            .x_content
                            //- center
                            //-     button.btn.btn-success.btn-lg(type='button', data-toggle='modal', data-target='.bs-add-modal-lg')
                            //-         i.fa.fa-plus
                            //-         | &nbspAdd
                            .x_panel
                                br
                                table#datatable.table.table-striped.table-bordered
                                    thead
                                        tr
                                            th REPLACEMENT 
                                            th STATUS
                                            th ACTION
                                    tbody
                                        each item in itemtab
                                            tr
                                                td #{item.intFreeReplacement}
                                                td #{item.strStatus}
                                                td
                                                    button.btn.btn-warning(type='button', data-toggle='modal', data-target='#edit', data-id=item.intID, data-name=item.strName)
                                                        i.fa.fa-edit
                                                        |   Edit