html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Client Registration
    //- preloader
    link(href='/login/css/style.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='/login/fame/css/color/green.css', title='green')
    link(rel='stylesheet', type='text/css', href='/login/fame/css/color/light-green.css', title='light-green')
    // Modernizer js
    script(src='js/modernizr.custom.js')
    //- form css
    // Bootstrap
    link(href='/admin/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // Font Awesome
    link(href='/admin/gentelella/vendors/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    // NProgress
    link(href='/admin/gentelella/vendors/nprogress/nprogress.css', rel='stylesheet')
    // iCheck
    link(href='/admin/gentelella/vendors/iCheck/skins/flat/green.css', rel='stylesheet')
    // Custom Theme Style
    link(href='/admin/gentelella/build/css/custom.min.css', rel='stylesheet')
    // For dynamic date and time
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    script(type='text/javascript', src='/admin/gentelalla/production/js/date_time.js')
    // bootstrap-daterangepicker
    link(href='/admin/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.css', rel='stylesheet')
    // bootstrap-datetimepicker
    link(href='/admin/gentelella/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css', rel='stylesheet')
    // Switchery
    link(href='/admin/gentelella/vendors/switchery/dist/switchery.min.css', rel='stylesheet')
    //preloader
    link(href='/assets4/css/style1.css', rel='stylesheet')
    // iCheck
    link(href='/admin/gentelella/vendors/iCheck/skins/flat/green.css', rel='stylesheet')
    //- swaL
    script(src='https://unpkg.com/sweetalert/dist/sweetalert.min.js')
    
    style.
        .x_panel{
            background-image: url('/login/fame/images/header-back.png');
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
        }
        body{
            background-image: url('/login/fame/images/header-back.png');
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
        }
    #loader
        .spinner
            .dot1
            .dot2


    body   
        .col-lg-7(style="margin-left:23%;")
            .x_panel(style="background-color:white")
                form.form-horizontal.form-label-left(id='regiclient' method="POST" action="/registration/client" style="background-color:white")
                    .x_title
                        center
                            h1 CHMS Client Registration
                    .x_content
                        br
                        .col-lg-12
                            .row
                                .col-md-4
                                    .form-group
                                        label First Name*
                                        input.form-control(type='text', id='firstname' name='firstname', maxlength='45' required )
                                .col-md-4
                                    .form-group
                                        label Middle Name 
                                        input.form-control(data-validate-length-range='6', data-validate-words='2', id='middlename' name='middlename', placeholder='(Optional)', type='text' maxlength='45')
                                .col-md-4
                                    .form-group
                                        label Last Name*
                                        input.form-control(data-validate-length-range='6', data-validate-words='2', id='lastname' name='lastname',  required, type='text' maxlength='45')
                            br
                            .row
                                .col-md-6
                                    .form-group
                                        label Email Address*
                                        input.form-control(type='email', id='email' name='email', required maxlength='45')
                                .col-md-6
                                    .form-group
                                        label Mobile Number / Telephone Number*
                                        input.form-control(type='txt', id='contactnum' name='contactnum', required maxlength='45')
                            .row
                                .col-md-6    
                                    .form-group
                                        label Password*
                                        input.form-control(type='password', id='password' name='password', required='required' placeholder='(Minimun of 5 characters)' minlength='5' maxlength='45')
                                .col-md-6
                                    .form-group
                                        label Confirm Password*
                                        input.form-control(type='password', id='conpassword' name='conpassword', required='required' minlength='5' maxlength='45')
                            .row
                                .col-md-3
                                    .form-group
                                        label Current Address* 
                                        input.form-control(id="_1", type='text',   name='housenum', placeholder='House/Bldg. no.', required='required' maxlength='45')
                                .col-md-3
                                    .form-group
                                        label &nbsp
                                        input.form-control(id="_2", type='text', name='streetnum', placeholder='Street', required='required' maxlength='45')
                                .col-md-3
                                    .form-group
                                        label &nbsp
                                        input.form-control(id="_3", type='text',  name='province', placeholder='Municipality', required='required' maxlength='45')
                                .col-md-3
                                    .form-group
                                        label &nbsp
                                        input.form-control(id="_4", type='text',  name='city', placeholder='City', required='required' maxlength='45')
                            //- .row
                            //-     .col-md-9
                            //-         .form-group
                            //-             label Permanent Address*
                            //-                 input.form-control.col-md-7.col-xs-12(id="txtf", type='text', name='permanentadd', placeholder='', required='required' maxlength='70')
                            //-                 .checkbox
                            //-                     label
                            //-                         input(id='chb', type='checkbox', value='', onClick="copy();")
                            //-                         |  Same with my Current Address.
                                br
                            .row
                                .col-md-7
                                    .form-group
                                        label Office Address
                                        input.form-control(type='text', id='ofcaddress' name='ofcaddress', placeholder=''  maxlength='70')
                                .col-md-5
                                    .form-group
                                        label Office Telephone Number 
                                        input.form-control(type='text', id='ofcnum' name='ofcnum'  maxlength='45')
                            .row
                                .col-md-12
                                    .form-group
                                        input#accept(name='accept', type='checkbox', value='y')
                                        |  I have read and agree to the 
                                        a(href="/registration/Terms_and_Conditions") 
                                            b(style="color:blue;") terms and conditons
                            .row
                                .form-group(style="float:right")
                                    button.btn.btn-primary(type='reset') Reset
                                    button.btn.btn-success#submitbtn(type='submit' disabled='disabled') Register
                                br
                                .form-group
                                    a(href='/login' style="text-decoration:underline; margin-left:10px; color:blue; font-style:italic")
                                        | Back to landing page
                                    .ln_solid
                            
                                    


    // jQuery
    script(src='/admin/gentelella/vendors/jquery/dist/jquery.min.js')
    // Bootstrap
    script(src='/admin/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js')
    // Datatables
    script(src='/admin/gentelella/vendors/datatables.net/js/jquery.dataTables.min.js')
    script(src='/admin/gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')
    script(src='/admin/gentelella/build/js/custom.min.js')
    // Switchery
    script(src='/admin/gentelella/vendors/switchery/dist/switchery.min.js')
    // Form wizard
    script(src='/admin/gentelella/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js')
    // starrr
    script(src='/admin/gentelella/vendors/starrr/dist/starrr.js')
    // iCheck
    script(src='/admin/gentelella/vendors/iCheck/icheck.min.js')      
    //for edit
    // bootstrap-daterangepicker
    script(src='/admin/gentelella/vendors/moment/min/moment.min.js')
    script(src='/admin/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.js')
    // jQuery Tags Input
    script(src='/admin/gentelella/vendors/jquery.tagsinput/src/jquery.tagsinput.js')
    script(src='/login/fame/js/jquery-2.1.1.min.js')
    // Bootstrap Core JavaScript
    script(src='asset/js/bootstrap.min.js')
    // Plugin JavaScript
    script(src='/login/fame/js/jquery.easing.1.3.js')
    script(src='/login/fame/js/classie.js')
    script(src='/login/fame/js/count-to.js')
    script(src='/login/fame/js/jquery.appear.js')
    script(src='/login/fame/js/cbpAnimatedHeader.js')
    script(src='/login/fame/js/owl.carousel.min.js')
    script(src='/login/fame/js/jquery.fitvids.js')
    script(src='/login/fame/js/styleswitcher.js')
    // Contact Form JavaScript
    script(src='/login/fame/js/jqBootstrapValidation.js')
    //- script(src='/login/fame/js/contact_me.js')
    // Custom Theme JavaScript
    script(src='/login/fame/js/script.js')   

    //preloader
    script(src='/assets4/js/custom1.js')
    script(src='/assets4/lib/wow/wow.min.js')

    //- swal
    //- script(src='/sweetalert/dist/sweetalert.min.js')
    


    script(type='text/javascript').
        function copy() {
            var txt1 = document.getElementById("_1");
            var txt2 = document.getElementById("_2");
            var txt3 = document.getElementById("_3");
            var txt4 = document.getElementById("_4");
            var txtf = document.getElementById("txtf");
            
            if((txt1.value && txt2.value && txt3.value && txt4.value) == ''){
                txtf.value= '';
            }
            else{
            txtf.value = txt1.value + ', ' + txt2.value + ', ' + txt3.value + ', ' + txt4.value;                     
            }

        }
        //- function dis(){
        //-     var txt1 = document.getElementById("_1");
        //-     var txt2 = document.getElementById("_2");
        //-     var txt3 = document.getElementById("_3");
        //-     var txt4 = document.getElementById("_4");
        //-     var txtf = document.getElementById("txtf");       

        //-     if((txt1.value && txt2.value && txt3.value && txt4.value) == ''){
        //-         document.getElementById("chb").disabled = true;
        //-     }
        //-     else if ((txt1.value)=='1'){
        //-         document.getElementById("chb").disabled = false;
        //-     }
        //- }

        //- function pls(){
        //-     swal({
        //-         title: "Are you sure you want to submit your registration?",
        //-         text:"",
        //-         type: 'warning',
        //-         showCancelButton: true,
        //-         confirmButtonColor: "#DD6B55",
        //-         confirmButtonText: "Yes",
        //-         closeOnConfirm: false
        //-     }),function (isConfirm) {
        //-         if (!isConfirm) return;
        //-         $.ajax({
        //-             url: "/client",
        //-             type: "POST",
        //-             data: {
        //-                 firstname: $('#firstname').val(),
        //-                 middlename: $('#middlename').val(),
        //-                 lastname: $('#lastname').val(),
        //-                 email: $('#email').val(),
        //-                 contactnum: $('#contactnum').val(),
        //-                 password: $('#password').val(),
        //-                 conpassword: $('#conpassword').val(),
        //-                 housenum: $('#_1').val(),
        //-                 streetnum: $('#_2').val(),
        //-                 province: $('#_3').val(),
        //-                 city: $('#_4').val(),
        //-                 permanentadd: $('#txtf').val(),
        //-                 ofcaddress: $('#ofcaddress').val(),
        //-                 ofcnum: $('#ofcnum').val()
        //-             },
        //-             dataType: "html",
        //-             success: function () {
        //-                 swal("Done!", "It was succesfully deleted!", "success");
        //-             },
        //-             error: function (xhr, ajaxOptions, thrownError) {
        //-                 swal("Error deleting!", "Please try again", "error");
        //-             }
        //-         });
        //-     });
        //- }






        //- function pls(){
        //- $('#regiclientform').submit(function(event){
        //-     event.preventDefault();

        //-     var $form = $(this),
        //-         url = $form.attr('action');

        //-     var posting = $.post(
        //-         url, {
        //-                 firstname: $('#firstname').val(),
        //-                 middlename: $('#middlename').val(),
        //-                 lastname: $('#lastname').val(),
        //-                 email: $('#email').val(),
        //-                 contactnum: $('#contactnum').val(),
        //-                 password: $('#password').val(),
        //-                 conpassword: $('#conpassword').val(),
        //-                 housenum: $('#_1').val(),
        //-                 streetnum: $('#_2').val(),
        //-                 province: $('#_3').val(),
        //-                 city: $('#_4').val(),
        //-                 permanentadd: $('#txtf').val(),
        //-                 ofcaddress: $('#ofcaddress').val(),
        //-                 ofcnum: $('#ofcnum').val()
        //-         });

        //-     posting.done(function(data){
        //-         swal({
        //-             title: 'Submit your registration?'
        //-             icon: 'Warning',
        //-             buttons: true,
        //-             dangerMode: true
        //-         }),
        //-         .then((willsubmit)=>{
        //-             if(willsubmit){
        //-                 swal('Registration Submitted!',{
        //-                     icon:'success'
        //-                     document.getElementbyID('#regiclient').submit();
        //-                 });
        //-             }
        //-             else{
        //-                 swal('Registration not Submitted.');
        //-             }
        //-         })
        //-     })
        //- })
        //- }
        //- function myFunction() {
        //-     swal('hi');
        //- }
            if((txt1.value && txt2.value && txt3.value && txt4.value) == ''){
                document.getElementById("chb").disabled = true;
            }
            else if ((txt1.value)=='1'){
                document.getElementById("chb").disabled = false;
            }
        }

    script.
        $('#accept').click(function() {
            if ($('#submitbtn').is(':disabled')) {
                $('#submitbtn').removeAttr('disabled');
            } else {
                $('#submitbtn').attr('disabled', 'disabled');
            }
        }); 
